.heading {
  text-align: left;
}

.deckOverride {
  text-align: left;
  margin-left: 0px;
  width: 80%;
}

.wrapper {
  background-image: url("/jan-strecha-auq-press.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
