.wrapper {
  background-image: url("/static/banter-snaps-fans-745689625558adc8df19a0fe7ad083d7.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 100px 5% 200px;
}

.box {
  font-family: "Lato";
  background-color: rgba(27, 27, 27, 0);
  border-radius: 7px;
  color: white;
  padding: 0px 15px;
}

.box > p {
  font-weight: 300;
  font-size: 18px;
}

.boxHeader {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-align: left;
}

.box:nth-child(odd) {
  position: relative;
  top: 55%;
}

@media (max-width: 767px) {
  .box {
    margin: auto 10%;
  }

  .box:nth-child(odd) {
    position: initial;
    top: 0%;
  }
}
